# <center>Machine Learning e DS com Python de A a Z</center>

## Etapas

### 1. Importação  das bibliotecas básicas

In [2]:
pip install plotly

Requirement already satisfied: plotly in c:\users\u11372\anaconda3\lib\site-packages (5.13.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\u11372\anaconda3\lib\site-packages (from plotly) (8.0.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

### 2. Base de Dados

In [4]:
dados = pd.read_csv("Machine Learning e Data Science com Python de A à Z-20230126T194647Z-001\Bases de dados\credit_data.csv")
dados

      clientid        income        age         loan  default
0            1  66155.925095  59.017015  8106.532131        0
1            2  34415.153966  48.117153  6564.745018        0
2            3  57317.170063  63.108049  8020.953296        0
3            4  42709.534201  45.751972  6103.642260        0
4            5  66952.688845  18.584336  8770.099235        1
...        ...           ...        ...          ...      ...
1995      1996  59221.044874  48.518179  1926.729397        0
1996      1997  69516.127573  23.162104  3503.176156        0
1997      1998  44311.449262  28.017167  5522.786693        1
1998      1999  43756.056605  63.971796  1622.722598        0
1999      2000  69436.579552  56.152617  7378.833599        0

[2000 rows x 5 columns]

#### Para a base acima. 0, na coluna default indica que a pessoa pagou o imprestimo e 1, indica que a pessoa não pagou o imprestimo.

In [5]:
dados['default'].value_counts()

0    1717
1     283
Name: default, dtype: int64

In [6]:
porcentagemDePagto = dados['default'].value_counts(normalize='true')*100
porcentagemDePagto

0    85.85
1    14.15
Name: default, dtype: float64

In [7]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   clientid  2000 non-null   int64
 1   income    2000 non-null   float64
 2   age       1997 non-null   float64
 3   loan      2000 non-null   float64
 4   default   2000 non-null   int64
dtypes: float64(3), int64(2)
memory usage: 78.2 KB

In [8]:
dados.describe()

          clientid        income          age          loan      default
count  2000.000000   2000.000000  1997.000000   2000.000000  2000.000000
mean   1000.500000  45331.600018    40.807559   4444.369695     0.141500
std     577.494589  14326.327119    13.624469   3045.410024     0.348624
min       1.000000  20014.489470   -52.423280      1.377630     0.000000
25%     500.750000  32796.459717    28.990415   1939.708847     0.000000
50%    1000.500000  45789.117313    41.317159   3974.719419     0.000000
75%    1500.250000  57791.281668    52.587040   6432.410625     0.000000
max    2000.000000  69995.685578    63.971796  13766.051239     1.000000

In [9]:
dados[dados['income'] >= 69995.685578]

     clientid        income        age         loan  default
422       423  69995.685578  52.719673  2084.370861        0

In [10]:
dados[dados['loan'] <= 1.377630]

     clientid        income        age     loan  default
865       866  28072.604355  54.142548  1.37763        0

### 3. Visualização de Dados

In [11]:
np.unique(dados['default'], return_counts=True)

(array([0, 1], dtype=int64), array([1717,  283], dtype=int64))